mixin png(name)
    img(src=require(`../../images/${name}.png`) alt=name)

mixin svg(name)
    img(src=require(`../../images/${name}.svg`) alt=name)

mixin jpg(name)
    img(src=require(`../../images/${name}.jpg`) alt=name)

mixin jpeg(name)
    img(src=require(`../../images/${name}.jpeg`) alt=name)